html {
  box-sizing: border-box;
  font: normal 100%/1.5 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  margin: 0;
  margin-bottom: 1rem;
  display: inline;
  line-height: 1.4;
}

p {
  font-style: italic;
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-content {
  max-width: 50em;
  width: 100%;
  position: absolute;
  padding: 0 1rem;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%);
}
